{% extends 'base.html' %}

{% block extra_css %}
    <style>
        body {
            background: #eef5f9;
        }

        .card {
            margin-bottom: 20px;
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid transparent;
            border-radius: 0;
        }

        .el-element-overlay .white-box {
            padding: 0
        }

        .el-element-overlay .el-card-item {
            position: relative;
            padding-bottom: 20px
        }

        .el-element-overlay .el-card-item .el-card-avatar {
            margin-bottom: 20px;
        }

        .el-element-overlay .el-card-item .el-card-content {
            text-align: center
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center my-5">
                <h2>Hodimlar</h2>
            </div>
        </div>
        <div class="row el-element-overlay">
            {% for i in object_list %}
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <img src="{{ i.image.url }}" alt="user">
                                <div class="el-overlay">
                                </div>
                            </div>
                            <div class="el-card-content">
                                <h4 class="m-b-0">{{ i.name }}</h4>
                                <span class="text-muted">{{ i.info }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}